
.date-picker {
    position: absolute;
    border: 1px solid #000000;
    padding: 10px;
    width: 300px;
    z-index: 10;
    background: #fff;
    .select-year {
        border-top: 1px solid #aaa;
        border-left: 1px solid #aaa;
        .year-row {
            .year {
                width: 25%;
                padding: 15px;
                cursor: pointer;
                display: inline-block;
                border-right: 1px solid #aaa;
                border-bottom: 1px solid #aaa;
            }

        }
    }
}