.editable-number {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
}

#root {
    height: 100%;

    & > div {
        height: 100%;
    }
}

.description {
    color: #98a6ad;
}

.statistics-info {
    padding: 10px;
}

.ngdialog {
    z-index: 2000;
}

.time-forenoon, .time-afternoon, .forenoon, .afternoon {
    height: 50%;
    line-height: 1.8;
    background: #fff;
    text-align: center;
}
