
.edit-remark-icon {
    margin-left: 3px;
}

.edit-remark-svg {
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: url(../../img/svg/edit.svg);
    background-size: cover;
}

.load-more-text {
    color: #259;
    margin-left: 4px;
}

.select-start-end-day {
    width: 300px;
    margin: 20px;

    label {
        display: inline-block;
        width: 100px;
    }
    .date-picker-container {
        display: inline-block;
        width: 200px;
    }

    .w100 {
        width: 100%;
        padding: 4px 5px;
        border-radius: 4px;
        border: 1px solid #aaa
    }
}

.online-doctor-statistics {
    .my-start, .my-end {
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 25px;
        padding: 2px 8px;
        width: 100%;
        &:focus {
            border: 1px solid green;
        }
    }
    .start-to-end {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.history-message-statistics {
    .tab-content, .tab-pane.active {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
    }

    .nav-tabs {
        margin-left: 10px;
    }

    .emotion {
        width: 20px;
    }
}

.smart-analytic-system {
    .toolbar {
        margin: 15px;
        button {
            margin-left: 10px;
        }
    }

    .search-container {
        float: right;
        font-size: 12px;
        input {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 5px 10px;
            width: 180px;
        }
        button {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 5px 10px;

        }
    }
}

.add-analytic-item {
    font-size: 12px;
    .add-item-btn, .clear-item-btn {
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .add-item-btn:hover {
        color: green;
    }

    .clear-item-btn:hover {
        color: red;
    }

    .form-container {
        display: flex;
        max-height: 500px;
        overflow: auto;
    }

    .suggest {
        width: 200px;
        margin-left: 10px;
    }

    .main-form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .visit-point {
        display: flex;
    }

    .mother-situation-container {
        flex: 1;
        #tabs {
            overflow: auto;
        }
    }

    .visit-point-label {
        margin-right: 15px;
    }

    .visit-point-items {
        flex: 1;
    }

    .visit-point-item {
        margin-bottom: 10px;
    }

    .mother-situation, .baby-situation {
        .check-item {
            display: flex;
            padding: 15px;
            &:not(:last-child) {
                border-bottom: 1px solid #ddd;
            }
        }

        .check-item-label {
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .check-item-content {
            flex: 1;
        }

        .clear-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;
        }

        .clear-item-btn {
            right: 15px;
        }

        .input {
            display: inline-block;
            width: 80px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 6px 10px;
            &:focus {
                border: 1px solid #6fa5d2;
            }
        }
        .unit-txt {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }

        .icon-wrap {
            display: inline-block;
            margin-left: 7px;
        }
    }

    .mother-situation {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .hepatitis-b-item {
            text-align: center;
            width: 80px;
            display: inline-block;
        }
        .positive, .negative, .all {
            margin-bottom: 5px;
        }

        //HBV-DNA
        .select-hbv-dna, .select-alt-condition, .liver-b-ultrasound-select, .take-medicine-situation {
            position: relative;
            display: inline-block;
            width: 100px;
            vertical-align: bottom;
            margin-right: 10px;
        }

        .select-wrap {
            position: absolute;
        }

        .alt-form {
            margin-bottom: 10px;
        }

        .take-medicine-form {
            margin-bottom: 10px;
        }
    }

}

.description {
    color: #98a6ad;
}

.statistics-info {
    padding: 10px;
}

.time-forenoon, .time-afternoon, .forenoon, .afternoon {
    height: 50%;
    line-height: 1.8;
    background: #fff;
    text-align: center;
}

.click-to-look {
    padding: 5px;
    cursor: pointer;
}
