.my-slide-left-enter {
    transform: translateX(200px);
    transition-duration: 250ms;
    opacity: 0;
    &.my-slide-left-enter-active {
        transform: translateX(0);
        opacity: 1;
    }
}

.my-slide-left-leave {
    transform: translateX(0);
    transition-duration: 250ms;
    opacity: 1;
    &.my-slide-left-leave-active {
        transform: translateX(200px);
        opacity: 0;
    }
}

@keyframes open-message {
    0% {
        margin-right: 0;
    }

    100% {
        margin-right: 200px;
    }
}

@keyframes close-message {
    0% {
        margin-right: 200px;
    }

    100% {
        margin-right: 0;
    }
}
