
#root {
    height: 100%;

    & > div {
        height: 100%;
    }
}

.app-content {
    overflow: hidden;
}

.app-aside-message .app-content {
    margin-right: 0;
}

.app-content {
    &.open-message {
        animation: open-message 250ms;
    }
    &.close-message {
        animation: close-message 250ms;
    }
}

.app-aside-message .app-footer {
    margin-right: 0;
}

.app {
    padding-top: 50px;
    width: 100%;
    position: relative;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
    z-index: 100;
    min-height: 50px;
    border: 0 solid transparent;
    .navbar-header {
        position: fixed;
        background-color: #1c2b36;
        color: #7793a7;
        width: 200px;
        float: left;
    }
    .navbar-brand {
        float: none;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        height: auto;
        line-height: 50px;
        display: inline-block;
        padding: 0 20px;
        color: #c4d0d9;
        .console-name {
            margin-left: 5px;
        }
    }
    .message-count {
        background-color: #f05050;
        color: #fff;
        border-radius: 10px;
        padding: 2px 5px;
    }
}

.navbar-collapse {
    margin-left: 200px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.app-aside {
    float: left;
    width: 200px;
    &:before {
        content: "";
        position: absolute;
        width: inherit;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: inherit;
        border: inherit;
    }

    .aside-wrap {
        position: fixed;
        overflow: hidden;
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 1000;
        background-color: #1c2b36;
        color: #7793a7;
    }
    .navi-wrap {
        width: 217px;
        position: relative;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.navigate-text {
    color: #5c798f !important;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.app-content {
    overflow: hidden;
    margin-left: 200px;
    height: 100%;

    .app-content-body {
        height: 100%;
        float: left;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .modal-slg {
        width: 700px;
    }
}

@media (min-width: 1000px) {
    .modal-slg {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .modal-slg {
        width: 1100px;
    }
}

pre {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: inherit;
}

.table-hover > tbody > tr.selected {
    background-color: rgba(46, 213, 86, 0.5);
}

.table-hover > tbody > tr:not(.selected ):hover {
    background-color: rgba(46, 213, 86, 0.1);
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: transparent;
}

.full-screen-preview {
    flex: 1;
    overflow: auto;
    margin-bottom: 10px;
    text-align: center;
}

table .table-cell-look a {
    text-decoration: underline;
}

table .table-cell-look a:hover {
    color: #00a0e9;
}

.editable-state-container {
    width: 75px;
    height: 25px;
}

.select-date-wrap {
    display: inline-block;
    width: 140px;
}

.app-content-body header {
    padding: 10px;
}

.app-content-body header label {
    font-weight: 700;
}

.score-level-item {
    display: inline-block;
    width: 200px;
    padding-top: 15px;
}

.app-message {
    position: fixed;
    z-index: 99;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: #dee5e7;
    border-left: 1px solid #dee5e7;
}

.message-container {
    position: relative;
    height: 100%;
}

.message-container .close-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: -25px;
    border-left: 10px solid #aaa;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0;
    cursor: pointer;
    z-index: 10;
}

.message-wrap {
    height: 100%;
    overflow-y: auto;
}

.app-message-list {
    overflow-y: auto;
}

.message-item {
    position: relative;
    padding: 10px 5px 10px 32px;
}

.message-item::before {
    content: ' ';
    position: absolute;
    top: 15px;
    left: 6px;
    width: 15px;
    height: 15px;
    background: #2ed556;
    border-radius: 50%;
}

.message-item.unread::before {
    z-index: 10;
    background: red;
}

.message-item::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 13px;
    height: 100%;
    border-left: 1px solid #2ed556;
}

.message-state {
    margin-right: 5px;
    background: #6dbfff;
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 12px;
    color: #fff;
}

.message-state.unread {
    z-index: 10;
    background: red;
}

.message-look-btn {
    margin-bottom: 5px;
}

.msg-btn {
    height: 26px;
    font-size: 14px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.msg-btn.full {
    width: 100%;
}

.load-more-message {
    cursor: pointer;
    text-align: center;
    border: 1px solid #7e7b6d;
    margin: 10px 30px;
    border-radius: 4px;
}

.before-picture-btn, .next-picture-btn {
    margin: 25% 15px 0 15px;
    padding-top: 10px;
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #6dbfff;
    text-align: center;
}

.list-picture-container {
    flex: 1;
    height: 100%;
    border: 2px solid #5c798f;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.picture-preview-container {
    height: 80%;
    margin: 15px 10px;
}

.app-function-page {
    flex-direction: column;
    height: 100%;
    display: flex;
}

.pagination {
    margin: 0 0 5px 0;
}

.w100 {
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.toolbar-btn.btn {
    font-size: 12px;
    color: #777;
    margin-right: 7px;
}

.btn.toolbar-btn.reset {
    background-color: #9acfea;
    color: #8a6d3b;
}

.audio-wrap {
    audio {
        display: none;
    }
    .volume-container {
        cursor: pointer;
    }
}
