
.flex-list {
    font-size: 12px;
    flex: 1;
    overflow: hidden;
    position: relative;

    .flex-list-wrap {
        overflow: hidden;
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .flex-list-header {
        display: flex;
        background-color: #b9def0;
        .item {
            margin: 10px;
            &:first-child {
                margin-left: 15px;
            }
        }
    }

    .flex-list-items {
        flex: 1;
        overflow: auto;
    }

    .flex-list-row {
        display: flex;
        .item {
            margin: 5px 10px;
            word-wrap: break-word;
            &:first-child {
                margin-left: 15px;
            }
        }
        &:nth-of-type(odd) {
            background-color: rgba(220, 230, 240, 0.4);
        }
        &:nth-of-type(even) {
            background-color: rgba(200, 210, 220, 0.1);
        }
        &:hover {
            background-color: rgba(46, 213, 86, 0.1);
        }
        &.selected {
            background-color: rgba(46, 213, 86, 0.5);
        }
    }

    .head-category-item {
        border-left: 1px solid #fff;
        //border-right: 1px solid #fff;
        .head-category-title {
            text-align: center;
            padding: 5px;
            border-bottom: 1px solid #fff;
        }
    }

    .sub-category-items, .sub-row-category-items {
        display: flex;
    }

    .row-place-holder {
        border: 2px dashed #aaa;
    }
}
